*{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.main{
    border: 2px red solid;
    width: 640px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
}

.tray{
    display: flex;
    flex: auto;
}

.square{
    background-color: rgb(241, 241, 241);
   
    flex: 1;
    aspect-ratio: 1;
}