*{
    margin: 0;
    padding: 0;
}

.main{
    border: 2px red solid;
    width: 640px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
}

.tray{
    display: flex;
    flex: auto;
}

.cube{
    background-color: yellow;
    border: 1px black solid;
    flex: 1;
    aspect-ratio: 1;
}